* {
	box-sizing:border-box;
}

/* reseting the page */

body {
 margin: 0;
 padding: 0;
 font-family: cursive;

}

/* Styling Navbar  */
#main {
	width: 100%;
	position: relative;
	background-color: #ffffff;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.logo img{
	width: 112px;
	height: 50px;
}

.menu{
	display: flex;
}

ul li{
	display: inline-block;
}

ul li a{
	padding: 15px;
	text-decoration: none;
	color: black;
	font-variant: small-caps;
}

ul li a:hover{
	color: lightsteelblue;
}

.hey{
	color: rgb(57, 217, 57);
}


.hey:hover{
	color: burlywood;
}

/* styling maiin conntent of the website */

.content{
	width: 90%;
	margin: auto;
	margin-top: 75px;
	display: flex;
	justify-content: space-around;
}

h1{
	font-size: xxx-large;
}


p{
	width: 500px;
}

.rockimage img {
	width: 440px;
	height: 350px;
	border-radius: 20px	;
}

#contenttext{
	display: inline-block;
}

#contenttext button{
	padding: 10px;
	font-weight: bolder;
	background-color: #00bb77;
	border-radius: 16px;
	cursor: pointer;
}
#contenttext button:hover{
	color: darkgreen;
}